*, html {
	font-family: 'Roboto', 'Arial', sans-serif;
}

h5 {
	margin: 0.2em 0;
}

img {
	max-width: 200px;
	max-height: 200px;
}

#books-cards{
	background-color:transparent;
	border:none;
}

input {
	padding: 0.5em;
	border: 2px solid #ddd;
    min-width: 80%;
}

#imgDetails{
	max-width: 100px;
	max-height: 75px;
}